<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
              Sulnote is a public company traded at the OMX Nordic Exchange Stockholm under the symbol Sulnote b<br>
              © Sulnote All Rights Reserved
            </div>
            <div class="col-2">
              <!-- <img src="../../assets/images/lg/LGlogo_white.png" alt="" height="40" class="logo-large"> -->
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
