<header id="topnav">

    <div class="topbar-main">

        <div class="container-fluid">



            <!-- Logo container-->

            <div class="logo">

                <!-- Text Logo -->

                <!-- Image Logo -->

                <a href="../assessor/1_situation.html" class="logo">

                    <img src="../assets/images/lg/lg_logo.png" alt="" height="48" class="logo-large">



                </a>


            </div>

            <!-- End Logo container-->




            <div class="menu-extras topbar-custom">



                <ul class="list-unstyled topbar-right-menu float-right mb-0">



                    <li class="menu-item">

                        <!-- Mobile menu toggle-->

                        <a class="navbar-toggle nav-link">

                            <div class="lines">

                                <span></span>

                                <span></span>

                                <span></span>

                            </div>

                        </a>

                        <!-- End mobile menu toggle-->

                    </li>


                </ul>

            </div>

            <!-- end menu-extras -->
            <div class="header_admin pull-right">
              <span class="admin_status">미래사업가 과정</span>
              <span class="admin_name">홍길동 / Assessor</span>
            </div>

            <div class="clearfix"></div>



        </div> <!-- end container -->

    </div>

    <!-- end topbar-main -->

    <div class="navbar-custom">

        <div class="container-fluid">

            <div id="navigation">
              <ul class="navigation-menu">

                  <li class="has-submenu">

                      <a href="../assessor/1_situation.html" style="color: #fff">진단 참여 현황</a>

                  </li>

                  <li class="has-submenu">

                      <a href="../assessor/2_inprogress.html" style="color: rgba(255, 255, 255, 0.7)">데이터 분석</a>

                  </li>

                  <li class="has-submenu">

                      <a href="../assessor/3_report.html" style="color: rgba(255, 255, 255, 0.7)">레포트 추출</a>

                  </li>

              </ul>

            </div> <!-- end #navigation -->

        </div> <!-- end container -->

    </div> <!-- end navbar-custom -->

</header>
