<header id="topnav">

    <div class="topbar-main">

        <div class="container-fluid">

            <!-- Logo container-->

            <div class="logo">

                <!-- Image Logo -->

                <a href="index.html" class="logo">

                    <!-- <img src="../assets/images/logo_sm.png" alt="" height="26" class="logo-small"> -->

                    <img src="../assets/images/lg/lg_logo.png" alt="" height="48" class="logo-large">

                </a>


            </div>

            <!-- End Logo container-->

            <!-- end menu-extras -->
            <div class="header_admin pull-right">
              <span class="admin_status">미래사업가 과정</span>
              <span class="admin_name">홍길동 / Admin</span>
            </div>

            <div class="clearfix"></div>

        </div> <!-- end container -->

    </div>

    <!-- end topbar-main -->


    <div class="navbar-custom">

        <div class="container-fluid">

            <div id="navigation">

                <!-- Navigation Menu-->

                <ul class="navigation-menu">

                    <li class="has-submenu">

                        <a href="../admin/1_situation.html">진단 참여 현황</a>

                    </li>

                    <li class="has-submenu">

                        <a href="../admin/2_analysis.html">데이터 분석</a>

                    </li>

                    <li class="has-submenu">

                        <a href="../admin/3_report.html">레포트 추출</a>

                    </li>

                </ul>

                <!-- End navigation menu -->

            </div> <!-- end #navigation -->

        </div> <!-- end container -->

    </div> <!-- end navbar-custom -->

</header>
